@import 'styles/variables.scss';
@import 'styles/mixins.scss';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: $bg-dark-slate;
  color: $text-main;
}

* {
  box-sizing: border-box;
}

pre {
  background-color: #0b1120;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
}
